*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}
body{
    background-color: #D7CCC8;
}
.menu{
  background-color: #fff;
  width: 100%;
}
.menu ul{
  height: 50px;
  width: 100%;
  text-align: center;
}
.menu ul li{
  display: inline-block;
  padding: 20px 10px;
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
}
.menu ul li a{
  color: #000;
}
.overskrift h2{
  background-color: #fff;
  text-decoration:none;
  text-align:center;
  font-size: 40px;
  text-transform: uppercase;
}
.overskrift h2 a{
    color: #000;

}
.david22 img{
    width: 250px;
    height: auto;
}
.david22{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 500px;
    text-align: center;
}
.david22 h1{
  font-size: 35px;
}
.david22 p{
  font-weight: normal;
  font-size: 25px;
}
@media (max-width: 600px) {
.overskrift h2{
  font-size: 20px;
}
.menu ul li{
  font-size: 15px;
}
.david22 img {
  width: 200px;
  height: auto;
  align-items: center;
  display: flex;
}
.david22 h1{
  font-size: 15px;
}
.david22 p{
  font-weight: normal;
  font-size: 15px;
}

}
